// colors
$white-color1: #fff;
$white-color2: #F2F2F2;
$white-color3: rgba(2555, 2555, 2555, 0.1);

$black-color1: #000;
$black-color2: #212226;

$gray-color1: #474F59;
$gray-color2: #474f591a;
$gray-color3: rgba(102, 102, 102, 0.24);
$gray-color4: #ccc;
$gray-color5: #272e3b;
$gray-color6: #23252a;
$gray-color7: #484f59;
$gray-color8: #26272b;

$brown-color1: #B68861;

$blue-color1: #519af7;

$red-color1: #f00;
$red-color2: #9e353a;

$header-height: 70px;

$transition: 0.6s;
